
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Agenda Personal</h1>

</div>

@if (((List<Contacto>)ViewData["_contactos"]).Count == 0)
{

    <div >
        <p class="text-center text-light" style="font-size:25px"> Agrega contactos a tu lista desde <strong>Contactos</strong> en la barra de navegacion!</p>
    </div>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Tipo de contacto
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contacto in (List<Contacto>)ViewData["_contactos"])
            {
                <tr>
                    <td>
                        @contacto.Nombre
                    </td>
                    <td>
                        @contacto.Apellido
                    </td>
                    <td>
                        @contacto.Email
                    </td>
                    <td>
                        @contacto.Telefono
                    </td>
                    <td>
                        @contacto.Direccion
                    </td>
                    <td>
                        @contacto.tipoContacto
                    </td>

                </tr>
            }
        </tbody>
    </table>
}


